@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .effet-shawdow {
        text-shadow: #FFF 0px 0px 20px;
    }
}

:root{
    --couleur-footer: #262222;
    --couleur-header: #262222; 
}

@media (prefers-color-scheme: light) {
    :root {
        --couleur-text: #000;
        --couleur-footer: #555e63;
        --couleur-header: #555e63;
    }
}
